<script src="/resources/js/jquery-1.10.1.min.js"></script>
<script src="/resources/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/resources/js/admin/html5shiv.js"></script>
<script src="/resources/js/admin/common.js?2017030100"></script>
<script src="/resources/js/common.js?2016111700"></script>