<!doctype html>
<html lang="ko">
<head>
#parse("/WEB-INF/views/vm/includefile/header.vm")
</head>
<body class="full_height">
	<div class="wrapper full_height">
		<!-- header -->
		<header class="header">
			<button type="button" class="btn_page_back in_txt" title="이전페이지로 돌아가기" onclick="navback()"></button>
		</header>
		<!-- login container -->
		<div class="member_container login">
			<div class="form_box">
				<form id="loginform" method="post">
					<fieldset>
						<legend class="screen_out">로그인 정보 입력</legend>
						<h1 class="logo"><img src="/resources/images/common/img_logo_big.png" alt="모먹지" /></h1>
						<div class="input_box">
							<input type="text" id="mc_email" name="mc_email" placeholder="이메일을 입력해주세요." />
						</div>
						<div class="input_box">
							<input type="password" id="mc_password" name="mc_password" placeholder="비밀번호를 입력해주세요." />
						</div>
						<button type="button" id="submitlogin" name="submitlogin" class="btn_default black">로그인</button>
						<div id="naver_id_login" class="naver_id_login_btn"></div>
						<div class="find_account">
							<a href="javascript:;">아이디 찾기</a> /
							<a href="javascript:;">비밀번호 찾기</a>
						</div>
					</fieldset>
				</form>
				<div class="other_login">
					<a href="join/1" class="btn_default red">간편회원가입 하기</a>
					##<div id="naver_id_login"></div>
					##<a href="javascrit:;" class="btn_login_facebook">페이스북으로 시작하기</a>
					##<a href="javascrit:;" class="btn_login_kakao">카카오톡으로 시작하기</a>
				</div>
			</div>
		</div>	
	</div>
#parse("/WEB-INF/views/vm/includefile/scriptlink.vm")
<script>

var callbackurl = window.location.href;

var naver_id_login = new naver_id_login("g9PpepFhbzCeCkOAMaKw", callbackurl);
var state = naver_id_login.getUniqState();
naver_id_login.setButton("green", 3,42);
naver_id_login.setDomain(".momukji.com");
naver_id_login.setState(state);
##naver_id_login.setPopup();
naver_id_login.init_naver_id_login();

$(document).ready(function(){

	$('#submitlogin').click(function(){
		
		if($.trim($('#mc_email').val()) == ''){
	  		alert("이메일을 입력하십시오.");
	   		$('#mc_email').focus();
	   		return false;
	  	}
	  	if($.trim($('#mc_password').val()) == ''){
	   		alert("비밀번호를 입력하십시오.");
	   		$('#mc_password').focus();
	   		return false;
	  	}
	
		var formData = $('#loginform').serialize();
				$.ajax({
		 				type : "POST",
	 					cache : false,
	 					data : formData,
	 					dataType:"json",
	 					url : "logincheck" ,
	 					success : function(args){
	 						
	 						console.log(args);
	 						
							$.each(args, function(key,state) {
						        if(key=='result'){
						        	if(state=='0'){
						        		alert("해당하는 아이디가 없습니다.");
						        		return false;
						        	}else if(state=='1'){
						        		alert("비밀번호가 불일치 합니다.");
						        		return false;
						        	}else if(state=='2'){
						        		alert("로그인에 성공하였습니다.");
						        		goPage('../');
						        	}
						        }
						    });
	 					
	 					},
	 					error : onError
			});
		});
	});
	function onError(data, status){alert("잠시 후 이용해 주시기 바랍니다.");}
</script>
</body>
</html> 